/detran-processo-administrativo/detran-processo-administrativo-core/target/
/detran-processo-administrativo/detran-pa-instauracao-ear/target/
/detran-processo-administrativo/detran-processo-administrativo-ejb/target/
/detran-processo-administrativo/detran-pa-instauracao-ejb/target/
/detran-processo-administrativo/detran-processo-administrativo-ear/target/
/detran-processo-administrativo/detran-pa-instauracao-web/target/
/detran-processo-administrativo/detran-processo-administrativo-web/target/
