<fieldset class="customFieldset margin-b-5">
    <legend>Dados Condutor</legend>
    
    
<div class="form-group">
    <label class="col-xs-2 control-label">{{'processoadministrativocontrolecnh.label.nome'| i18next}}</label>  
    <div class="col-xs-8">
        <input ng-disabled="true"
               ng-model="data.entidade.cnhControlePessoa.nomeEntrega"
               class="form-control input-sm"
               type="text">
    </div>
</div>
    
<div class="form-group">
    <label class="col-xs-2 control-label">{{'processoadministrativocontrolecnh.label.numeroRegistro'| i18next}}</label>  
    <div class="col-xs-3">
        <input ng-disabled="true"
               ng-model="data.entidade.cnhControle.numeroRegistro"
               class="form-control input-sm"
               type="text">
    </div>
    
    <label class="col-xs-2 control-label">{{'processoadministrativocontrolecnh.label.numeroCnh'| i18next}}</label>  
    <div class="col-xs-3">
        <input ng-disabled="true"
               ng-model="data.entidade.cnhControle.numeroCnh"
               class="form-control input-sm"
               type="text">
    </div>
</div>

<div class="form-group">
    
    <label class="col-xs-2 control-label">{{'processoadministrativocontrolecnh.label.cpf'| i18next}}</label>  
    <div class="col-xs-3">
        <input ng-disabled="true"
               ng-model="data.entidade.cnhControlePessoa.cpfEntrega"
               class="form-control input-sm"
               type="text">
    </div>
</div>

</fieldset>

<fieldset class="customFieldset margin-b-5">
    <legend>Dados CNH</legend>
    
    
<div class="form-group">
    <label class="col-xs-2 control-label">{{'processoadministrativocontrolecnh.label.responsavel'| i18next}}</label>  
    <div class="col-xs-3">
        <input ng-disabled="true"
               ng-model="data.entidade.templateProtocolo.responsavelProtocolo"
               class="form-control input-sm"
               type="text">
    </div>
    
    <label class="col-xs-2 control-label">{{'processoadministrativocontrolecnh.label.formaEntrega'| i18next}}</label>  
    <div class="col-xs-3">
        <input ng-disabled="true"
               ng-model="data.entidade.templateProtocolo.formaProtocolo"
               class="form-control input-sm"
               type="text">
    </div>
</div>

<div class="form-group">
    <label class="col-xs-2 control-label">{{'processoadministrativocontrolecnh.label.representanteLegal'| i18next}}</label>  
    <div class="col-xs-8">
        <input ng-disabled="true"
               ng-model="data.representanteLegal.nome"
               class="form-control input-sm"
               type="text">
    </div>
</div>
    
<div class="form-group">
    <label class="col-xs-2 control-label">{{'processoadministrativocontrolecnh.label.numeroProtocolo'| i18next}}</label>  
    <div class="col-xs-3">
        <input ng-disabled="true"
               ng-model="data.movimento.protocolo.numeroProtocoloMascarado"
               class="form-control input-sm"
               type="text">
    </div>
    
    <label class="col-xs-2 control-label">{{'processoadministrativocontrolecnh.label.formaProtocolo'| i18next}}</label>  
    <div class="col-xs-3">
        <input ng-disabled="true"
               ng-model="data.entidade.templateProtocolo.formaProtocolo"
               class="form-control input-sm"
               type="text">
    </div>
</div>

<div class="form-group">
    <label class="col-xs-2 control-label">{{'processoadministrativocontrolecnh.label.dataEntrega'| i18next}}</label>  
    <div class="col-xs-3">
        <input ng-disabled="true"
               ng-model="data.entidade.dataEntrega"
               class="form-control input-sm"
               type="text">
    </div>
    
     <label class="col-xs-2 control-label">{{'processoadministrativocontrolecnh.label.acao'| i18next}}</label>  
    <div class="col-xs-3">
        <input ng-disabled="true"
               ng-model="data.acaoLabel"
               class="form-control input-sm"
               type="text">
    </div>
</div>
    
    
<div class="form-group">
    <label class="col-xs-2 control-label">{{'processoadministrativocontrolecnh.label.telefone'| i18next}}</label>  
    <div class="col-sm-3">
        <input ng-disabled="true" ng-model="data.entidade.cnhControle.telefone" class="form-control input-sm" type="text" dtn-telefone maxlength="15"/>
    </div>
</div>
    
<div class="form-group">
    <label class="col-xs-2 control-label">{{'processoadministrativocontrolecnh.label.observacao'| i18next}}</label>  
    <div class="col-xs-10">
        <textarea rows ="5" 
                  cols="100"
                  ng-model="data.entidade.observacao"
                  ng-disabled="true" >
        </textarea>
    </div>
</div>


</fieldset>

<div class="form-group">
    <label class="col-xs-2 control-label">{{'processoadministrativocontrolecnh.label.usuario'| i18next}}</label>  
    <div class="col-xs-8">
        <input ng-disabled="true"
               ng-model="data.nomeUsuarioAcao"
               class="form-control input-sm"
               type="text">
    </div>
</div>

<div class="form-group">
    <label class="col-md-2 col-xs-2 control-label"></label>  
    <div ng-include="urlPartials + 'buttons/btn_1.html'"></div>
</div>