<div class="odd" ng-controller="notificacaoloteCtrl">
    <div ng-include="urlPartials + 'criteriaDtl.html'"></div> <!-- filtros -->
    <div class="clearfix"></div>
    
<!--    <div class="row small margin-5">-->
<!--    <div class="col-xs-12">-->
<!--        <span class="pull-right margin-t-20" ng-if="hasData">-->
<!--            Total Pontos: <span class="label label-default">{{total}}</span>-->
<!--        </span>-->
<!--    </div>-->
<!--</div>-->
    
    <div ng-if="hasData" detran-table config="config" params="mestreID" action-buttons="actionButtons" my-name="notificacaolote"></div>

    <div class="form-group">
        <label class="col-md-1 col-xs-1 control-label"></label>
        <div ng-include="urlPartials + 'buttons/btn_1.html'"></div>
    </div>
    
</div>