<div class="col-xs-4">
    <label class="control-label">{{'enderecoalternativo.label.numeroProcesso' | i18next}}</label>  
    <input ui-keypress="{ enter: 'pesquisar()' }"
           id="filtro_descricao"
           ng-model="$parent.filtros.data.numeroProcesso" 
           class="form-control input-xs"
           type="text" auto-tab-to="filtro_cpf" />
</div>

<div class="col-xs-4">
    <label class="control-label">{{'enderecoalternativo.label.cpf' | i18next}}</label>  
    <input ui-keypress="{ enter: 'pesquisar()' }"
           id="filtro_cpf"
           ng-model="$parent.filtros.data.cpf" 
           class="form-control input-xs"
           type="text"
           maxlength="11" dtn-number />
</div>