<div class="col-xs-3 width_auto">
    <label class="control-label">{{'processojudicial.label.isn' | i18next}}</label>  
    <input ui-keypress="{ enter: 'pesquisar()' }" 
           ng-model="$parent.filtros.data.isn" 
           class="form-control input-sm" 
           type="text" 
           dtn-number />
</div>

<div class="col-xs-2">
    <label class="control-label">{{'modulo.global.label.ativoLabel' | i18next}}</label>  
    <select ng-model="filtros.data.ativo" class="form-control input-sm">
        <option value="">Selecione</option>
        <option ng-value="item.value"
                ng-selected="item.value === filtros.data.ativo"
                ng-repeat="item in ativoSelect">{{item.label}}</option>
    </select>
</div>