<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>detran-processo-administrativo-web</display-name>
    <context-param>
        <param-name>errorPage</param-name>
        <param-value>/public/login/autenticacao.jsp</param-value>
    </context-param>
    <context-param>
        <param-name>errorPageMobile</param-name>
        <param-value>/public/login/autenticacao_mobile.jsp</param-value>
    </context-param>
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.security.web.context.SecurityContextPersistenceFilter</filter-class>
    </filter>
    <filter>
        <filter-name>DetranServiceFilter</filter-name>
        <filter-class>br.gov.ms.detran.core.seguranca.filtro.DetranServiceFilter</filter-class>
    </filter>
    <filter>
        <filter-name>DetranResourceFilter</filter-name>
        <filter-class>br.gov.ms.detran.core.seguranca.filtro.DetranResourceFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/resource/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DetranResourceFilter</filter-name>
        <url-pattern>/resource/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DetranServiceFilter</filter-name>
        <url-pattern>/srv/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>jersey-serlvet</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>br.gov.ms.detran.processo.administrativo.resource</param-value>
        </init-param>
        <init-param>
            <param-name>jersey.config.disableMoxyJson</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>jersey.config.server.provider.classnames</param-name>
            <param-value>br.gov.ms.detran.comum.rest.config.JaxbObjectMapperProvider;org.glassfish.jersey.jackson.JacksonFeature;br.gov.ms.detran.comum.rest.config.DtnJacksonExceptionHandling</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>jersey-serlvet</servlet-name>
        <url-pattern>/ws/*</url-pattern>
        <url-pattern>/srv/*</url-pattern>
        <url-pattern>/resource/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>jersey-intra-dtnweb-serlvet</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>br.gov.ms.detran.processo.administrativo.intranet</param-value>
        </init-param>
        <init-param>
            <param-name>jersey.config.disableMoxyJson</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>jersey.config.server.provider.classnames</param-name>
            <param-value>br.gov.ms.detran.comum.rest.config.JaxbObjectMapperProvider;org.glassfish.jersey.jackson.JacksonFeature;br.gov.ms.detran.comum.rest.config.DtnJacksonExceptionHandling;br.gov.ms.detran.comum.seguranca.filter.intranet.DtnIntraAuthorizationFilter</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>jersey-intra-dtnweb-serlvet</servlet-name>
        <url-pattern>/dtnintraweb/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>1</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>405</error-code>
        <location>/public/aviso/acessoIlegal2.jsp</location>
    </error-page>
</web-app>
