<div class="col-xs-3 col-sm-2">
    <label class="control-label">{{"controlecnhpa.label.numeroProcesso"|i18next}}</label>  
    <input ui-keypress="{ enter: 'pesquisar()' }" 
           ng-model="$parent.filtros.data.numeroProcesso" class="form-control input-sm" 
           type="text">
</div>

<div class="col-xs-3 col-sm-2">
    <label class="control-label">{{"controlecnh.label.cpf"|i18next}}</label>  
    <input ui-keypress="{ enter: 'pesquisar()' }" 
           ng-model="$parent.filtros.data.cpfEntrega" 
           class="form-control input-sm" 
           type="text" 
           dtn-maskcpfcnpj
           maxlength="14"
           placeholder="___.___.___-__">
</div>

<div class="col-xs-3 col-sm-2">
    <label class="control-label">{{"controlecnh.label.numeroRegistro"|i18next}}</label>  
    <input ui-keypress="{ enter: 'pesquisar()' }" 
           ng-model="$parent.filtros.data.numeroRegistro" 
           class="form-control input-sm" 
           type="text"  
           maxlength="14">
</div>

<div class="col-xs-3 col-sm-2">
    <label class="control-label">{{"controlecnh.label.numeroCnh"|i18next}}</label>  
    <input ui-keypress="{ enter: 'pesquisar()' }" 
           ng-model="$parent.filtros.data.numeroCnh" 
           class="form-control input-sm" 
           type="text" 
           dtn-uppercase 
           maxlength="11">
</div>

<div class="col-xs-3 col-sm-2">
    <label class="control-label">{{"controlecnh.label.validadeCnh"|i18next}}</label>  
    <select ng-model="$parent.filtros.data.validadeCnh" class="form-control input-sm">
        <option value="">Selecione</option>
        <option value="{{item.value}}" 
                ng-repeat="item in validadeCnhSelect">{{item.label}}</option>
    </select>
</div>