<div class="col-xs-12">
    <div class="col-xs-2">
        <label class="control-label">{{ 'fluxoprocesso.label.codigo' | i18next }}</label>  
        <input ui-keypress="{ enter: 'pesquisar()' }" 
               ng-model="$parent.filtros.data.codigo" 
               class="form-control input-sm" 
               maxlength="9" 
               dtn-number>
    </div>

    <div class="col-xs-4">
        <label class="control-label">{{ 'fluxoprocesso.label.descricao' | i18next }}</label>  
        <input ui-keypress="{ enter: 'pesquisar()' }" 
               ng-model="$parent.filtros.data.descricao" 
               class="form-control input-sm" 
               type="text" 
               maxlength="250" 
               dtn-uppercase>
    </div>

    <div class="col-xs-2">
        <label class="control-label">{{'fluxoprocesso.label.fluxoIndependente' | i18next}}</label>  
        <select ng-model="filtros.data.fluxoIndependente" 
                class="form-control input-sm">
                <option value="">Selecione</option>
                <option ng-value="item.value"
                        ng-selected="item.value === filtros.data.fluxoIndependente"
                        ng-repeat="item in fluxoIndependenteSelect">{{item.label}}</option>
        </select>
    </div>

    <div class="col-sm-2">
        <label class="control-label">{{'modulo.global.label.ativoLabel' | i18next}}</label>  
        <select ng-model="filtros.data.ativo" 
                class="form-control input-sm">
                <option value="">Selecione</option>
                <option ng-value="item.value"
                        ng-selected="item.value === filtros.data.ativo"
                        ng-repeat="item in ativoSelect">{{item.label}}
                </option>
        </select>
    </div>
</div>

<div class="col-xs-12">
    <div class="col-xs-2">
        <label class="control-label">{{ 'fluxoprocesso.label.codigoAndamento' | i18next }}</label>  
        <input ui-keypress="{ enter: 'pesquisar()' }" 
               ng-model="$parent.filtros.data.codigoAndamento" 
               class="form-control input-sm" 
               maxlength="9" 
               dtn-number>
    </div>

    <div class="col-md-4">
        <label class="control-label">{{'fluxoprocesso.label.descricaoAndamento' | i18next }}</label>
        <input ng-model="$parent.filtros.data.descricaoAndamento" class="form-control input-sm" type="text" 
               ui-keypress="{ enter: 'searchAndamentoPorDescricao()' }" 
               ui-event="{ dblclick : 'searchAndamentoPorDescricao()' }" 
               dtn-uppercase 
               placeholder="Pressione ENTER para pesquisar"  >
    </div>
</div>

