<div class="col-xs-3 width_auto">
    <label class="control-label">{{"servicoexterno.label.nome"|i18next}}</label>  
    <input ui-keypress="{ enter: 'pesquisar()' }" 
           ng-model="$parent.filtros.data.nome" 
           class="form-control input-sm" 
           type="text" 
           maxlength="50">
</div>

<div class="col-xs-2 width_auto">
    <label class="control-label">{{'modulo.global.label.ativoLabel' | i18next}}</label>  
    <select ng-model="$parent.filtros.data.ativo"
            class="form-control input-sm">
            <option value="">Selecione</option>
            <option ng-value="item.value" 
                    ng-selected="item.value === filtros.data.ativo" 
                    ng-repeat="item in ativoSelect">{{item.label}}</option>
    </select>
</div>
