<div class="col-xs-12">
    <div class="odd margin-b-20">
        <ul class="nav nav-tabs">
            <li class="active"><a href="javascript:;">{{'apoioorigeminstauracao.label.amparoLegal'| i18next}}</a></li>
        </ul>
        <div class="tab-content">
            <div class="form-group">
                <div class="margin-20">
                    <button ng-if="page != 'view'" ng-click="amparoLegalModal()" class="btn btn-md btn-{{'global.btn.confirmar.btn'| i18next}} margin-r-5">{{'apoioorigeminstauracao.amparoLegal.selecionar'| i18next}}<span class="obrigatorio" title="Obrigatório">*</span></button>
                </div>
                <div class="col-xs-12">
                    <dtn-readonly-group data="amparoLegal"></dtn-readonly-group>
                    <br clear="all" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="form-group">
    <label class="col-xs-2 control-label">{{'apoioorigeminstauracao.label.regra'| i18next}}<span class="obrigatorio" title="Obrigatório">*</span></label>
    <div class="col-xs-5">
        <input ng-disabled="page == 'view' || page == 'edit'"
               ng-model="data.entidade.regra" class="form-control input-sm" 
               maxlength="7"
               dtn-uppercase
               value="" placeholder="O ENUM DA NOVA REGRA DEVE ESTAR DECLARADO ANTES DA INSERÇÃO">
    </div>
</div>

<div class="form-group">
    <label class="col-xs-2 control-label">{{'apoioorigeminstauracao.label.descricao'| i18next}}<span class="obrigatorio" title="Obrigatório">*</span></label>
    <div class="col-xs-5">
        <input ng-disabled="page == 'view'"
               ng-model="data.entidade.descricao" class="form-control input-sm" 
               maxlength="250"
               dtn-uppercase
               >
    </div>
</div>

<div class="form-group">
    <label class="col-xs-2 control-label">{{'apoioorigeminstauracao.label.artigoInciso'| i18next}}</label>
    <div class="col-xs-5">
        <input ng-disabled="page == 'view'"
               ng-model="data.entidade.artigoInciso" class="form-control input-sm" 
               maxlength="50"
               dtn-uppercase
               >
    </div>
</div>

<div class="form-group">
    <label class="col-xs-2 control-label">{{'apoioorigeminstauracao.label.motivo'| i18next}}</label>
    <div class="col-xs-5">
        <select ng-model="data.entidade.motivo"
                class="form-control input-sm"
                ng-disabled="page == 'view'">
            <option value="">Selecione</option>
            <option ng-value="item.value"
                    ng-repeat="item in motivoSelect">{{item.label}}
            </option>
        </select>
    </div>
</div>

<div class="form-group">
    <label class="col-xs-2 control-label">{{'apoioorigeminstauracao.label.tipoProcessoReincidencia'| i18next}}</label>
    <div class="col-xs-5">
        <select ng-model="data.entidade.tipoProcessoReincidencia"
                class="form-control input-sm"
                ng-disabled="page == 'view'">
            <option value="">Selecione</option>
            <option ng-value="item.value"
                    ng-repeat="item in tipoProcessoReincidenciaSelect">{{item.label}}
            </option>
        </select>
    </div>
</div>

<div class="form-group">
    <label class="col-xs-2 control-label">{{'apoioorigeminstauracao.label.indiceHistoricoInfracao'| i18next}}</label>
    <div class="col-xs-5">
        <select ng-model="data.entidade.indiceHistoricoInfracao"
                class="form-control input-sm"
                ng-disabled="page == 'view'">
            <option value="">Selecione</option>
            <option ng-value="item.value"
                    ng-repeat="item in indiceHistoricoInfracaoSelect">{{item.label}}
            </option>
        </select>
    </div>
</div>

<div class="form-group">
    <label class="col-xs-2 control-label">{{'apoioorigeminstauracao.label.tipoProcesso'| i18next}}<span class="obrigatorio" title="Obrigatório">*</span></label>
    <div class="col-xs-5">
        <select ng-model="data.entidade.resultadoTipoProcesso"
                class="form-control input-sm"
                ng-disabled="page == 'view'">
            <option value="">Selecione</option>
            <option ng-value="item.value"
                    ng-repeat="item in resultadoTipoProcessoSelect">{{item.label}}
            </option>
        </select>
    </div>
</div>
<!--Select Motivo Resultado -->
<div class="form-group">
    <label class="col-xs-2 control-label">{{'apoioorigeminstauracao.label.motivoResultado'| i18next}}<span class="obrigatorio" title="Obrigatório">*</span></label>
    <div class="col-xs-5">
        <select ng-model="data.entidade.resultadoMotivo"
                class="form-control input-sm"
                ng-disabled="page == 'view'">
            <option value="">Selecione</option>
            <option ng-value="item.value"
                    ng-repeat="item in resultadoMotivoSelect">{{item.label}}
            </option>
        </select>
    </div>
</div>
<!--Select Ação Resultado -->
<div class="form-group">
    <label class="col-xs-2 control-label">{{'apoioorigeminstauracao.label.acao'| i18next}}<span class="obrigatorio" title="Obrigatório">*</span></label>
    <div class="col-xs-5">
        <select ng-model="data.entidade.resultadoAcao"
                class="form-control input-sm"
                ng-disabled="page == 'view'">
            <option value="">Selecione</option>
            <option ng-value="item.value"
                    ng-repeat="item in resultadoAcaoSelect">{{item.label}}
            </option>
        </select>
    </div>
</div>

<div class="form-group">
    <label class="col-xs-2 control-label">{{'apoioorigeminstauracao.label.reincidencia'| i18next}}</label>
    <div class="col-xs-5">
        <select ng-model="data.entidade.reincidencia"
                class="form-control input-sm"
                ng-disabled="page == 'view'">
            <option value="">Selecione</option>
            <option ng-value="item.value"
                    ng-repeat="item in reincidenciaSelect">{{item.label}}
            </option>
        </select>
    </div>
</div>

<div class="form-group">
    <label class="col-xs-2 control-label">{{'apoioorigeminstauracao.label.prioridade'| i18next}}</label>
    <div class="col-xs-5">
        <input ng-disabled="page == 'view'"
               ng-model="data.entidade.prioridade" class="form-control input-sm" 
               maxlength="100"
               dtn-number
               >
    </div>
</div>
<div class="form-group">
    <label class=" col-xs-2 control-label">{{'apoioorigeminstauracao.label.acaoSistema'| i18next}}<span class="obrigatorio" title="Obrigatório">*</span></label>
    <div class="col-xs-5">
        <select ng-model="data.entidade.acaoSistema"
                class="form-control input-sm"
                ng-disabled="page == 'view'">
            <option value="">Selecione</option>
            <option ng-value="item.value"
                    ng-selected="item.value === data.entidade.acaoSistema"
                    ng-repeat="item in acaoSistemaSelect">{{item.label}}
            </option>
        </select>
    </div>
</div>

<div class="form-group">
    <label class="col-xs-2 control-label">{{'apoioorigeminstauracao.label.statusInfracao'| i18next}}</label>
    <div class="col-xs-5">
        <input ng-disabled="page == 'view'"
               ng-model="data.entidade.statusInfracao" class="form-control input-sm" 
               maxlength="20"
               dtn-uppercase
               >
    </div>
</div>

<div class="form-group">
    <label class="col-xs-2 control-label">{{'apoioorigeminstauracao.label.origemInformacaoPontuacao'| i18next}}</label>
    <div class="col-xs-5">
        <input ng-disabled="page == 'view'"
               ng-model="data.entidade.origemInformacaoPontuacao" class="form-control input-sm" 
               maxlength="20"
               dtn-uppercase
               >
    </div>
</div>

<div class="form-group">
    <label class="col-xs-2 control-label">{{'apoioorigeminstauracao.label.indiceReincidenciaMAZ'| i18next}}</label>
    <div class="col-xs-5">
        <select ng-model="data.entidade.indiceReincidenciaMAZ"
                class="form-control input-sm"
                ng-disabled="page == 'view'">
            <option value="">Selecione</option>
            <option ng-value="item.value"
                    ng-repeat="item in indiceReincidenciaMAZSelect">{{item.label}}
            </option>
        </select>
    </div>
</div>

<div class="form-group">
    <label class="col-xs-2 control-label">{{'apoioorigeminstauracao.label.codigoConfirmacaoMainframe'| i18next}}</label>
    <div class="col-xs-5">
        <input ng-disabled="page == 'view'"
               ng-model="data.entidade.codigoConfirmacaoMainFrame" class="form-control input-sm" 
               maxlength="1"
               dtn-number
               >
    </div>
</div>

<!-- Button (Double) -->
<div class="form-group">
    <label class="col-xs-4 control-label"></label>  
    <div ng-include="urlPartials + 'buttons/btn.html'"></div>
</div>